@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&family=Cinzel:wght@500&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(219deg, #45c4e8, #d17bec);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes AnimationName {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    margin: 0 0 30px 0;
    padding: 0;
}

.Menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(228, 226, 223, 0.799);
    border: 2px solid rgb(29, 100, 187);
    width: 350px;
    align-items: center;
    padding: 50px 0;
    border-radius: 10px;
    margin-top: 20vh;
}

.Menu button {
    width: 60%;
    margin: 5px 0;
    text-decoration: none;
    color: rgb(29, 100, 187);
    font-weight: bold;
    transition: 150ms all ease-in-out;
    border: 1px solid rgb(29, 100, 187);
    border-radius: 10px;
    padding: 5px;
}

.Menu button:hover {
    transform: scale(1.2);
    color: rgb(211, 51, 214);
    border: 1px solid rgb(211, 51, 214);
    text-decoration: underline;
}

#sidebar {
    position: fixed;
    width: 40vw;
    height: 60vh;
    background: rgb(255, 255, 255);
    border: 2px solid #ffffff89;
    border-radius: 20px;
    left: -40vw;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    top: 20vh;
}

#sidebar.active {
    left: 30vw;
    z-index: 2;
}

#sidebar h2 {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
}

#sidebar p{
    font-family: 'Cinzel', serif;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

#sidebar .Selectors {
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}

#sidebar select {
    height: auto;
    margin: 10px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    font-style: italic;
    border-radius: 10px;
}

#sidebar .Result {
    width: 80%;
    background-color: rgba(50, 50, 50, 0.69);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

#sidebar input {
    width: 80%;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

#sidebar .Close {
    font-size: 20px;
    margin-left: 90%;
    margin-top: 3px;
    border-radius: 5px;
    background-color: rgb(75, 75, 75);
    color: white;
}